// SPDX-License-Identifier: GPL-3.0-only
#include <windows.h>
#include "version.hpp"
#include "resource_ids.h"
IDI_MORSEBRIDGE ICON "assets/morsebridge-icon-v1.ico"
1 RT_MANIFEST "app.manifest"
1 VERSIONINFO
FILEVERSION MB_VERSION_RC
PRODUCTVERSION MB_VERSION_RC
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040704b0"
  BEGIN
   VALUE "FileDescription", "Junker M.T. zu Space - MorseBridge\0"
   VALUE "FileVersion", MB_VERSION_STRING "\0"
   VALUE "ProductName", "MorseBridge\0"
   VALUE "ProductVersion", MB_VERSION_STRING "\0"
   VALUE "OriginalFilename", "MorseBridge.exe\0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x407, 1200
 END
END
