// SPDX-License-Identifier: GPL-3.0-only
#include <windows.h>
1 RT_MANIFEST "app.manifest"
1 VERSIONINFO
FILEVERSION 1,2,0,1
PRODUCTVERSION 1,2,0,1
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040704b0"
  BEGIN
   VALUE "FileDescription", "Junker M.T. zu Space - MorseBridge\0"
   VALUE "FileVersion", "1.2.0p\0"
   VALUE "ProductName", "MorseBridge\0"
   VALUE "ProductVersion", "1.2.0p\0"
   VALUE "OriginalFilename", "MorseBridge.exe\0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x407, 1200
 END
END
